@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
	text-decoration: none;
	box-sizing: border-box;

	font-family: 'Barlow', sans-serif;
}

:focus {
	outline: 0;
}

.container-1 {
	background-color: #f2f2f2;
	min-height: 100px;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f2f2f2;
	min-height: 100px;
	max-width: 950px; /* Genişliği 1140px olarak ayarlanıyor */
	margin: 0 auto; /* Sayfa ortasına hizalanıyor */
}

header ul {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 16px;
}

header ul li {
	font-size: 16px;
	color: #1e205a;
	font-weight: 600;
}

.container-2 {
	background-color: #ffffff;
	box-shadow: 0px 5px 20px 0px rgba(30, 32, 90, 0.08);
}
.container-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	padding-top: 31px;
	padding-bottom: 34px;
	margin-bottom: 60px;
	max-width: 950px; /* Genişliği 1140px olarak ayarlanıyor */
	margin: 0 auto; /* Sayfa ortasına hizalanıyor */
}

h2 {
	font-size: 21px;
	color: #160c72;
}
.container-top p {
	color: #bbbbbb;
}

/*blog*/
.container-3 {
	background-color: #f2f2f2;
}
.grid-container {
	display: grid;
	grid-template-columns: 1fr 3fr; /* Sol sütun 1fr, sağ sütun 3fr genişliğinde */
	gap: 10px; /* Sütunlar ve satırlar arasındaki boşluk */
	max-width: 1140px; /* Grid container'ın genişliği */
	margin: 0px auto; /* Sayfa ortasına almak için margin */
	background-color: #f2f2f2;
}

.grid-item {
	padding: 10px;
	text-align: center;
}

/* sağ tütun */
.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.col {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px;
}

.card {
	width: 300px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	overflow: hidden;
}

.card-img img {
	width: 100%;
	height: auto;
	border-bottom: 1px solid #ccc;
}

.card-p {
	padding: 20px;
	text-align: start;
}

.card-p > div {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.card-p span {
	color: #888;
}

.card-pp p {
	color: #333;
	line-height: 1.6;
}
h4 {
	color: #160c72;
	font-size: 18px;
}

.pagination {
	display: flex;
	list-style: none;
	margin: 20px;
}

.page,
.next-page {
	width: 30px;
	height: 30px;
	background-color: #f9f9f9;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	cursor: pointer;
	color: #160c72;
	font-size: 18px;
	font-weight: 500;
}

.page:hover,
.next-page:hover {
	background-color: #160c72;
	color: #f9f9f9;
	cursor: pointer;
}
/* sol kısım */
.search-container {
	display: flex;
	align-items: center;
	background-color: #fff;
	border-radius: 50px;
	padding: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	width: 300px;
	margin: 20px;
}

.search-input {
	flex: 1;
	border: none;
	padding: 10px;
	border-radius: 8px;
	outline: none;
}

.search-icon {
	padding: 10px;
	cursor: pointer;
}

.categories {
	display: flex;
	flex-direction: column;
	align-items: start;
	margin: 20px;
	padding: 10px;
	background-color: #f9f9f9;
	border-radius: 5px;
	position: relative;
}
.categories h3 {
	color: #160c72;
	font-size: 22px;
	margin-bottom: 10px;
}
.categories-list {
	position: relative;
	width: 250px;
}
.categories-list li {
	display: flex;
	flex-direction: column;
	padding: 10px;
	align-items: start;
	color: #160c72;
	position: relative;
}

.tops {
	display: flex;
	flex-direction: column;
	align-items: start;
	margin: 20px;
	padding: 20px;
	background-color: #f9f9f9;
	border-radius: 5px;
	gap: 10px;
}
.tops-item {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 30px;
}
.tops h4 {
	color: #160c72;
	font-size: 22px;
	margin-bottom: 10px;
}
.tops h1 {
	color: #160c72;

	margin-bottom: 10px;
}
.tops h3 {
	color: #160c72;
	font-size: 15px;
	margin-bottom: 5px;
}
.tops-content {
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: center;
	gap: 10px;
	text-align: start;
}
.tops-rigth {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 10px;
}

.instagram h4 {
	color: #160c72;
	font-size: 22px;
	margin-bottom: 10px;
	text-align: start;
}
.instagram {
	margin: 20px;
	padding: 5px;
	border-radius: 5px;
}

.instagram-item {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
}

.instagram-item img {
	width: calc(33.33% - 10px);
	object-fit: cover;
	border-radius: 2px;
}

.instagram-item img:last-child {
	margin-right: 0;
}
/* Footer Styles */
footer {
	padding: 30px 0;
}

.footer-divs {
	background-color: #ffffff;
	max-width: 1140px; /* Grid container'ın genişliği ile eşitleniyor */
	margin: 0 auto;
}
.footer-div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.f-1,
.f-2,
.f-3,
.f-4 {
	margin-right: 30px;
	margin-bottom: 20px;
	flex: 1;
	color: #160c72;
}

.f-1 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 70px;
	justify-content: center;
	color: #160c72;
	margin-bottom: 20px;
}
.f-4 {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 30px;
	justify-content: center;
	color: #160c72;
	margin-bottom: 20px;
}

.f-1 h3 {
	color: #160c72;
	font-size: 22px;
	margin-bottom: 10px;
	font-weight: 600;
}

.footer-div ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer-div ul li {
	margin-bottom: 10px;
	color: #160c72;
	cursor: pointer;
	font-weight: 500;
	text-decoration: none;
}

.footer-div ul li:hover {
	color: #160c72;
	cursor: pointer;
}

.footer-div h4 {
	color: #160c72;
	font-size: 18px;
	margin-bottom: 10px;
}
.icons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.line {
	width: 100%;
	height: 1px;
	background-color: #dddddd; /* Çizgi rengi, isteğe bağlı olarak değiştirilebilir */
	margin: 10px 0; /* Çizginin yukarı ve aşağıdaki boşluğu, isteğe bağlı olarak değiştirilebilir */
}

/* mobil uyum için kod */
@media screen and (max-width: 768px) {
	.container-top {
		flex-direction: column;
	}
	.container-top h2 {
		margin-bottom: 20px;
	}
	.container-top p {
		text-align: center;
	}
	.container-top img {
		width: 100%;
		height: auto;
	}
	.container-3 {
		background-color: #f2f2f2;
	}
	.grid-container {
		display: flex;
		flex-direction: column;
	}
	.row {
		flex-direction: column;
	}
	.col {
		flex-direction: column;
	}
	.card {
		width: 100%;
	}
	.card-img img {
		width: 100%;
		height: auto;
	}
	.card-p {
		padding: 10px;
		text-align: center;
	}
	.card-p > div {
		display: flex;
		flex-direction: column;
		margin-bottom: 10px;
	}
	.card-p span {
		color: #888;
	}
	.card-pp p {
		color: #333;
		line-height: 1.6;
	}
	h4 {
		color: #160c72;
		font-size: 18px;
	}
	.pagination {
		display: flex;
		list-style: none;
		margin: 20px;
	}
	.page,
	.next-page {
		width: 30px;
		height: 30px;
		background-color: #f9f9f9;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 5px;
		cursor: pointer;
		color: #160c72;
		font-size: 18px;
		font-weight: 500;
	}
	.page:hover,
	.next-page:hover {
		background-color: #160c72;
		color: #f9f9f9;
		cursor: pointer;
	}
	.search-container {
		display: flex;
		align-items: center;
		background-color: #fff;
		border-radius: 50px;
		padding: 5px;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
		width: 400px;
	}
	.search-input {
		flex: 1;
		border: none;
		padding: 10px;
		border-radius: 8px;
		outline: none;
	}
	.search-icon {
		padding: 10px;
		cursor: pointer;
	}
	footer {
		padding: 30px 0;
	}

	.footer-divs {
		background-color: #ffffff;
		max-width: 100%; /* Grid container'ın genişliği ile eşitleniyor */
		margin: 0 auto;
	}
	.footer-div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}

	.f-1,
	.f-2,
	.f-3,
	.f-4 {
		margin-bottom: 20px;
		flex: 1;
		color: #160c72;
	}

	.f-1 {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
		justify-content: center;
		color: #160c72;
		margin-bottom: 20px;
	}
	.f-2 {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
		justify-content: center;
		color: #160c72;
		margin-bottom: 20px;
	}
	.f-3 {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
		justify-content: center;
		color: #160c72;
	}
	.f-3 ul li {
		margin-bottom: 10px;
		color: #160c72;
		cursor: pointer;
		font-weight: 500;
		text-decoration: none;
		padding-left: 5px;
	}
	.f-4 {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		justify-content: center;
		color: #160c72;
		margin-bottom: 20px;
	}

	.f-1 h3 {
		color: #160c72;
		font-size: 22px;
		margin-bottom: 10px;
		font-weight: 600;
	}

	.footer-div ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.footer-div ul li {
		margin-bottom: 10px;
		color: #160c72;
		cursor: pointer;
		font-weight: 500;
		text-decoration: none;
	}

	.footer-div ul li:hover {
		color: #160c72;
		cursor: pointer;
	}

	.footer-div h4 {
		color: #160c72;
		font-size: 18px;
		margin-bottom: 10px;
	}
	.icons {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 10px;
	}

	.categories-list {
		position: relative;
		width: 350px;
	}
	.line {
		width: 100%;
		height: 1px;
		background-color: #dddddd; /* Çizgi rengi, isteğe bağlı olarak değiştirilebilir */
		margin: 10px 0; /* Çizginin yukarı ve aşağıdaki boşluğu, isteğe bağlı olarak değiştirilebilir */
	}
}
